Prof. Dr. Reinhard Bauer

<a target="_blank" href="https://colab.research.google.com/github/djanka2/statistik-uebungen/blob/main/Python%20Lernen/04%20-%20List%20Comprehensions%20-%20Musterloesung.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Python Grundlagen 4 - Schleifen und List Comprehensions

## Schleifen

Gegeben ist eine Liste L

In [50]:
L=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

Mit einer for-Schleife kann man über alle Elemente der Liste iterieren:

In [16]:
for x in L:
    print(x)

a
b
c
d
e
f
g
h

Mit der Range-Funktion lassen sich leicht Zahlenfolgen erstellen. Über diese kann man dann iterieren.

In [12]:
for x in range(5):
    print(x)

0
1
2
3
4

Man kann mit der Range-Funktion auch von-bis-Listen erzeugen:

In [14]:
for x in range(2,8):
    print(x)

2
3
4
5
6
7

Schleifen kann man auch schachteln. Wir geben jetzt die Namen aller Felder eines Schachbretts aus:

In [20]:
for buchstabe in L:
    for zahl in range(1,9):
        # durch "end = ' '" wird nicht jedes mal eine neue Zeile erzeugt.
        print(buchstabe + str(zahl),  end = ' ')

a1 a2 a3 a4 a5 a6 a7 a8 b1 b2 b3 b4 b5 b6 b7 b8 c1 c2 c3 c4 c5 c6 c7 c8 d1 d2 d3 d4 d5 d6 d7 d8 e1 e2 e3 e4 e5 e6 e7 e8 f1 f2 f3 f4 f5 f6 f7 f8 g1 g2 g3 g4 g5 g6 g7 g8 h1 h2 h3 h4 h5 h6 h7 h8

Möchte man über mehrere Listen gleichzeitig iterieren, gibt es mehrere Möglichkeiten.

In [23]:
vornamen=['Anton', 'Bernhard', 'Christian', 'Daniel']
nachnamen=['Altmeier', 'Bauer', 'Cohen', 'Daum']

Eine etwas umständliche Möglichkeit ist, über alle Indizes der Listen zu iterieren (mit Hilfe der Range-Funktion) und jedes Listenelement über seinen Index anzusprechen:

In [24]:
for i in range(len(vornamen)):
    print(vornamen[i] + " " + nachnamen[i])

Anton Altmeier
Bernhard Bauer
Christian Cohen
Daniel Daum

Etwas eleganter geht es mit der zip-Funktion, die es ermöglicht, gleichzeitig über mehrere Listen zu iterieren:

In [25]:
for vorname, nachname in zip(vornamen,nachnamen):
    print(vorname + " " + nachname)

Anton Altmeier
Bernhard Bauer
Christian Cohen
Daniel Daum

Außerdem gibt es die enumerate-Funktion, die einem beim iterieren noch einen Zähler erzeugt:

In [28]:
for zaehler, nachname in enumerate(nachnamen):
    print(vornamen[zaehler] + " " + nachname)

Anton Altmeier
Bernhard Bauer
Christian Cohen
Daniel Daum

#### List-Comprehensions

## List-Comprehensions

##### Die Grundform

Mit *list comprehensions* lassen sich in machen Situationen Listen sehr einfach durch eine kompakte Notation erzeugen.

Die Grundsyntax ist

[Ausdruck for Element in Liste]

Dies ist äquivalent zu 
```python
neueListe=[]
for Element in Liste:
        neueListe.append(Ausdruck)
```

Wir erinnern uns an die Liste L:

In [46]:
[l + str(1) for l in L]

['a1', 'b1', 'c1', 'd1', 'e1', 'f1', 'g1', 'h1']

Ein zweites Beispiel

In [47]:
[vorname for vorname in vornamen]

['Anton', 'Bernhard', 'Christian', 'Daniel']

Ein drittes Beispiel

In [48]:
[vorname + ' Meier' for vorname in vornamen]

['Anton Meier', 'Bernhard Meier', 'Christian Meier', 'Daniel Meier']

Hilfreich ist hierbei manchmal die *range-Funktion*. Beispiele sind

In [6]:
[n for n in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
[n for n in range(3,8)]

[3, 4, 5, 6, 7]

##### (Filter-)Bedingungen in List Comprehensions

Man kann die Grundform noch um eine Bedingung erweitern

[Ausdruck for Element in Liste if Bedingung]

Dies ist äquivalent zu 
```python
neueListe=[]
for Element in Liste:
        if Bedingung:
            neueListe.append(Ausdruck)
```

In [54]:
liste=['A','AA','AAA','AAAA','AAAAA','AAAAAA','AAAAAAA','AAAAAAAA']

In [53]:
[x for x in liste if len(x)<5]

['A', 'AA', 'AAA', 'AAAA']

In [52]:
[x for x in liste if len(x)>2]

['AAA', 'AAAA', 'AAAAA', 'AAAAAA', 'AAAAAAA', 'AAAAAAAA']

##### Bedingte Ausdrücke in Liste Comprehensions

Außerdem kann der Ausdruck noch von einer Bedingung abhängen:

[Ausdruck1 if Bedingung else Ausdruck2 for Element in Liste]

Dies ist äquivalent zu 
```python
neueListe=[]
for Element in Liste:
        if Bedingung:
            neueListe.append(Ausdruck1)
        else:
            neueListe.append(Ausdruck2)
```

In [56]:
[x if len(x)<4 else "lange" for x in liste ]

['A', 'AA', 'AAA', 'lange', 'lange', 'lange', 'lange', 'lange']

##### Schachteln und Mehrfachiteration

Man kann auch gleichzeitig über mehrere Objekte iterieren

In [11]:
[i*j for i in range(5) for j in range(5)]

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

Außerdem ist es möglich, List Comprehensions zu schachteln, um Listen-von-Listen zu erzeugen:

In [10]:
[[i*j for i in range(5)] for j in range(5)]

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16]]

## Aufgaben - Schleifen

#### Aufgabe (1)

Iterieren Sie über die Zahlen von 10 bis 20 und geben Sie jede Zahl aus, die durch 2 teilbar ist.

Hinweis: Die Teilbarkeit durch 2 können Sie über den %-Operator prüfen:

In [32]:
print(3%2)
print(4%2)
print(5%2)
print(6%2)

1
0
1
0

In [33]:
for i in range(10,21):
    if(i % 2 ==0):
        print(i)

10
12
14
16
18
20

#### Aufgabe (2)
Gegeben ist die Liste der Namen:

In [34]:
Namen=[' Christine', ' Hania', ' Bettina', ' Thomas', 'Kevin', 'Julian', 'Melanie', 'Alexander', ' Sophia', 'Nils', ' Fabio',
       ' Manuel', 'Joshua', 'Nils', 'Jannis', 'Kasimir', 'Martin', ' Nadine', ' Tobias', 'Dennis', 'David', 'Anna', 'Niclas', 
       'Florian', 'Remi', 'Joachim', 'Hans', 'Tobias', 'Laura', 'Florian', 'Jannik', 'Jonathan', 'Theresa', 'Jonas', 
       'Lucas', 'Max', 'Jacqueline', 'Florian', 'Ivo', 'Tim', ' Eva', 'Maleen', 'Ilona', 'Falk', 'Berit', 'Laurin', 
       'Marius', 'Jakob', 'Günther']

##### (2a) Iterieren Sie über die Liste und erzeugen Sie eine neue Liste NamenM mit allen Namen, die mit "M" beginnen.

In [35]:
NamenM=[]
for name in Namen:
    if name[0]=='M':
        NamenM.append(name)
print(NamenM)

['Melanie', 'Martin', 'Max', 'Maleen', 'Marius']

##### (2b) Gegeben sind jetzt folgende Listen

In [ ]:
vornamen=['Anton', 'Bernhard', 'Christian', 'Daniel']
nachnamen=['Altmeier', 'Bauer', 'Cohen', 'Daum']

Geben Sie den Vornamen jeder Person aus, deren Nachname aus mehr als 6 Buchstaben besteht.

In [39]:
for vorname, nachname in zip(vornamen, nachnamen):
    if len(nachname)>6:
        print(vorname)

Anton

In [44]:
for i in range(len(vornamen)):
    if len(nachnamen[i])>6:
        print(vornamen[i])

Anton

## Aufgaben - List Comprehensions

#### Aufgabe (1)

Erstellen Sie die Liste [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
 durch 
- (a) eine list comprehension 
- (b) eine Schleife

In [5]:
[n**2 for n in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
liste=[]
for n in range(10):
    liste.append(n**2)
liste

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Aufgabe (2)

Gegeben ist folgende Liste *Namen*:

In [6]:
Namen=[' Christine', ' Hania', ' Bettina', ' Thomas', 'Kevin', 'Julian', 'Melanie', 'Alexander', ' Sophia', 'Nils', ' Fabio',
       ' Manuel', 'Joshua', 'Nils', 'Jannis', 'Kasimir', 'Martin', ' Nadine', ' Tobias', 'Dennis', 'David', 'Anna', 'Niclas', 
       'Florian', 'Remi', 'Joachim', 'Hans', 'Tobias', 'Laura', 'Florian', 'Jannik', 'Jonathan', 'Theresa', 'Jonas', 
       'Lucas', 'Max', 'Jacqueline', 'Florian', 'Ivo', 'Tim', ' Eva', 'Maleen', 'Ilona', 'Falk', 'Berit', 'Laurin', 
       'Marius', 'Jakob', 'Günther']

Erzeugen Sie eine Liste mit allen Einträgen aus der Liste *Namen*, die mit einem M beginnen

In [46]:
[name for name in Namen if name[0]=='M']

['Melanie', 'Martin', 'Max', 'Maleen', 'Marius', 'Maximilian']

Erzeugen Sie eine Liste mit allen Einträgen aus der Liste *Namen*, die mehr als 8 Buchstaben enthalten.

In [51]:
[name for name in Namen if len(name)>8]

[' Christine', 'Alexander', 'Jacqueline', 'Maximilian']

Erzeugen Sie eine neue Liste mit allen Einträgen aus der Liste Namen. Jeder Eintrag, der mehr als 6 Buchstaben enthält, soll nur durch die ersten 6 Buchstaben, gefolgt von einem Punkt dargestellt werden.

In [56]:
[name if len(name)<7 else name[0:7]+"." for name  in Namen]

[' Christ.',
 ' Hania',
 ' Bettin.',
 ' Thomas.',
 'Julian',
 'Melanie.',
 'Alexand.',
 ' Sophia.',
 'Nils',
 ' Fabio',
 ' Manuel.',
 'Joshua',
 'Nils',
 'Jannis',
 'Martin',
 ' Nadine.',
 ' Tobias.',
 'Dennis',
 'David',
 'Anna',
 'Niclas',
 'Florian.',
 'Remi',
 'Joachim.',
 'Tobias',
 'Laura',
 'Florian.',
 'Jannik',
 'Jonatha.',
 'Theresa.',
 'Jonas',
 'Lucas',
 'Max',
 'Jacquel.',
 'Florian.',
 'Ivo',
 'Tim',
 ' Eva',
 'Maleen',
 'Ilona',
 'Falk',
 'Berit',
 'Laurin',
 'Marius',
 'Johanne.',
 'Maximil.',
 'Robin',
 'Jakob']

#### Aufgabe (3)

Gegeben sind die Listen

In [16]:
vornamen=['Christine', 'Hania', 'Bettina', 'Thomas']
nachnamen=['Müller', 'Meier', 'Schmidt']

##### (3a)  Erzeugen Sie eine Liste mit allen Kombinationen aus Vor- und Nachnamen

In [17]:
[vor + ' ' + nach for vor in vornamen for nach in nachnamen]

['Christine Müller',
 'Christine Meier',
 'Christine Schmidt',
 'Hania Müller',
 'Hania Meier',
 'Hania Schmidt',
 'Bettina Müller',
 'Bettina Meier',
 'Bettina Schmidt',
 'Thomas Müller',
 'Thomas Meier',
 'Thomas Schmidt']

#### Aufgabe (4)

Erzeugen Sie eine Liste mit allen Feldern des Schachbretts durch eine List-Comprehension.

In [29]:
L=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [30]:
[b + str(z) for b in L for z in range(1,9)]

['a1',
 'a2',
 'a3',
 'a4',
 'a5',
 'a6',
 'a7',
 'a8',
 'b1',
 'b2',
 'b3',
 'b4',
 'b5',
 'b6',
 'b7',
 'b8',
 'c1',
 'c2',
 'c3',
 'c4',
 'c5',
 'c6',
 'c7',
 'c8',
 'd1',
 'd2',
 'd3',
 'd4',
 'd5',
 'd6',
 'd7',
 'd8',
 'e1',
 'e2',
 'e3',
 'e4',
 'e5',
 'e6',
 'e7',
 'e8',
 'f1',
 'f2',
 'f3',
 'f4',
 'f5',
 'f6',
 'f7',
 'f8',
 'g1',
 'g2',
 'g3',
 'g4',
 'g5',
 'g6',
 'g7',
 'g8',
 'h1',
 'h2',
 'h3',
 'h4',
 'h5',
 'h6',
 'h7',
 'h8']